 
#langButtons{
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 40vh;
}
input {
    padding: 12px 20px;
    border: 1px solid #ccc;
    box-sizing: border-box;
     display: block;
     margin: auto;
     width: 50vh;
     margin-top: 5%;
   
}


#bigLogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 55vh;
    height: 25%;
    margin-top: 5%;
   
}
button {
    box-shadow: inset 0px 1px 0px 0px #efdcfb;
    background: linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
    background-color: #dfbdfa;
    border-radius: 6px;
    border: 1px solid #c584f3;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #9752cc;
    display: block;
    margin: auto;
    margin-top: 5%;
    width: 40vh;
   
}

button:hover {
    background: linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
    background-color: #bc80ea;
}