

#profilePic
{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
    float: left;
    
}
#dispName{
    justify-self: baseline;
}
#main_details{
    
    position: sticky;
    position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  height: 200px;
  /* justify-content: baseline; */
  align-items: baseline;
    /* max-height: fit-content */
    /* width: 100%; */
}
#shoWoman{
/* margin: auto; */
margin-right: 5%;
flex-direction: row;
width: 65%;
font-size: larger;
margin: auto;
text-align: justify;
text-justify: inter-word;
}

.editWomanBtn{
    display: flex;
}
h1{
    text-align: center;
}

.womanCardsContainer{

    height: 125px;
    width: 69%;
    margin-right: 0.5%;
    border: 3.5px groove purple ;
    /* border-radius: 10%; */
    /* border-radius: 3%; */
    margin-bottom: 0.09%;
    text-align: center;
    text-justify: inter-word;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;  

}

.roundImage{

    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
}


.roundImageSerach{
    
    border-radius: 50%;
    width: 100px;
    height: 90px;
    object-fit: cover;
    display: flex;
    float: right;
    margin-top: 2%;
    margin-right: 1%;  
    
}

.summarySearch{
    color: black;
    font-weight: bolder;
    text-align: justify;
    text-justify: inter-word;
    /* justify-items: i; */
    



}
.catCardsContainer{

    height: 1%;
    width: 420%;
    margin-bottom: -60px;
    /* flex-direction: row ; */
    background-color: thistle;
    flex-direction: column;
    /* flex-direction: flex; */
    /* justify-content: flex-end; */
    
}
.catContainCard{
    
    display: flex;
    /* flex-wrap: nowrap; */
    /* height: 300px; */
    width:30%;
    flex-direction: row;
    /* flex-direction: row; */
    margin-bottom: 2%;
    
}

.catImage{

    border-radius: 30%;
    height: 30vh;
   /* max-height:100% ; */
   /* width: auto; */
   object-fit: cover;
   width: 30vh;
}
.catSummery{
    
    height: auto;
    margin-right: 10%;
    width: 100%;

}

.catTitle{

    margin-right: 2%;
    color: black;
    margin-top: 5%;
}