

#profilePic
{
    border-radius: 50%;
    float: left;
}

#womanContainer{
  
    width: 65%;
    font-size: larger;
    margin: auto;
    text-align: justify;
  text-justify: inter-word;
}
h1{
    text-align: center;
}

#womanCardsContainer{
height: 70px;
width: 50px;
border: 1px orange ;
}

#roundImage{
    border-radius: 50%;
    height: 40px;
    width: 20px;
}
