#profilePic {
    border-radius: 50%;
    height: 25vh;
    width: 25vh;
    object-fit: cover;
    float: left;
    padding:5px;
}

#dispName {
    justify-self: baseline;
    position: relative;
    top: 40%;
}

#main_details {
    position: sticky;
    top: 0;
    margin-top:0.1%;
    height: 25vh;
    align-items: baseline;
    background: white;
}

#shoWoman {
    margin-right: 5%;
    flex-direction: row;
    width: 65%;
    font-size: larger;
    margin: auto;
    text-align: justify;
    text-justify: inter-word;
}

.editWomanBtn {
    display: flex;
    float: right;
    padding:5px;
}

h1 {
    text-align: center;
}

.womanCardsContainer {
    height: 125px;
    width: 69%;
    margin-right: 0.5%;
    border: 3.5px groove purple;
    margin-bottom: 0.09%;
    text-align: center;
    text-justify: inter-word;
    flex-wrap: wrap;
    flex-direction: row;
    overflow: hidden;
}

.roundImage {
    border-radius: 50%;
    height: 130px;
    width: 130px;
    object-fit: cover;
}

.roundImageSerach {
    border-radius: 50%;
    width: 100px;
    height: 90px;
    object-fit: cover;
    display: flex;
    float: right;
    margin-top: 2%;
    margin-right: 1%;
}

.summarySearch {
    color: black;
    font-weight: bolder;
    text-align: justify;
    text-justify: inter-word;
}

.catCardsContainer {
    height: 1%;
    width: 100%;
    background-color: thistle;
    flex-direction: column;
}

.catContainCard {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-bottom: 2%;
}

.catImage {
    border-radius: 30%;
    height: 150px;
    object-fit: cover;
    width: 150px;
}

.catSummery {
    height: auto;
    width: 100%;
}

.catTitle {
    width: 15%;
    text-align: center;
    margin:auto;
    color: black;
}
#suggest{
    width: 65%;
    float: right;
    margin-right: 3%;
    border-radius: 3%;
    margin-top:1%;
}
#photoContainer{
    overflow-x:auto;
    height: 43vh;
    overflow-y: hidden;
     border: 4px solid black;
}


#lightBox
{
    display: inline-flex;
    align-items: stretch;
    height:100%;
}

.lightBoxImage
{
    height:100% ;
    max-width: 70vh;
}
.lightBoxImageContainer
{
    height:100% ;
    width:fit-content;
}
