/* .container 
{
    position: relative;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    
  } */

  #category-container
  {
      display: flex;
      /* flex-wrap: wrap; */
      /* justify-content: center; */
      width: 80%;
      margin: auto;
      /* align-content: center; */
      
  }
  .catagoryImgContainer{
  

  }
  .catagoryImg
  {
    
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 5%;
  }
  .catagoryText{
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    z-index: 5;
    background: rgba(0, 0, 0, 0.411);
    transform: translate(-50%, -50%);
  }
  .catagoryBtn
  {
    position: absolute;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .catagoryBtn:hover 
  {
    background-color:transparent;
  }