.container 
{
    position: relative;
    width: 100%;
    max-width: 400px;
    display: inline-block;
    
  }

  #category-container
  {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      /* align-content: center; */
      
  }
  
  .container img 
  {
    width: 250px;
    height: 250px;
    object-fit: cover;
  }
  
  .container .btn 
  {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color:transparent;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }
  
  .container .btn:hover 
  {
    background-color:transparent;
  }