label {
    vertical-align: top;
  
}
#modal-header
{
background-color: purple;            
}
.modal-dialog{
margin: auto;
padding-bottom: 3%;
}

.modal-body
{
    overflow-x: none;
    overflow-y: auto;
    /* min-height: 50vh; */
    max-height: fit-content;
    height: auto;
    background-color: rgb(216,191,216);
    text-align: center;
    /* height: 100%; */
}

.modal-content
{
    overflow-x: none;
    overflow-y: auto;
}

.form_content 
{
    display: flex;
    border:1px;
    border-color: #222222;
    /* display: inline-block; */
    flex-wrap: wrap;
    border-collapse:collapse;
    width:100%;
    height:100%;
    justify-items: center;
    text-align: center;
    overflow-x: none;
    /* max-height: 100%; */
    overflow-y: auto;

}

.feedbacLine{

    /* padding-top: 20%; */
    /* padding-left: 0%; */
    /* position: 0%; */
    /* width: 25%; */
    /* width: 43%; */
    /* margin-left: 20%; */
    /* margin-top: 10%; */

    /* margin-left: 60%; */
    margin-bottom: 5%;
    border-color: purple;
    
   


}


.form-group
{
    /* padding: 0vh; */
    /* flex-grow: 1; */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    
    /* display: inline-flex; */
    /* white-space: nowrap; */
    /* width: 90%; */
    /* justify-content: right; */
    /* flex-wrap: wrap; */

}




.langTabs{
 padding: 16px; 
}

  
/* stars */
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.starrating > input {display: none;}  /*Remove radio buttons*/

.starrating > label:before { 
  content: "\f005"; /* Star */
  margin: 2px;
  font-size: 4em;
  font-family: FontAwesome;
  display: inline-block; 
  cursor: pointer;
  
}



.starrating > label
{
  color: #222222; /* Start color when not clicked */
}

.starrating > input:checked ~ label
{ color: #ffca08 ; } /* Set yellow color when star checked */

.starrating > input:hover ~ label
{ color: #ffca08 ;  } /* Set yellow color when star hover */
.starrating{
    /* overflow: auto; */
    max-width: 100%;
}
/* --------------------------- */

.input-group
{
    padding: 1px;
}

.details2{
    
    /* width: 180%; */
    /* margin-top: 10%; */
    margin-right: 58%;

    /* padding-top: 0%; */
    /* padding-left: 3%; */
    border-color: purple;
    /* border-radius: 5%; */

}

.addWomanName{

    /* width: 180%; */
    /* margin-left: 27.5%; */
    border-color: purple;
}

.details{
    /* padding-top: %; */
    padding-left: 0%;
    /* position: 0%; */
    /* width: 25%; */
    width: 100%;
    border-color: purple;
   
}

.detailsL{

    border-color: purple;
    /* padding-left: 20%; */
    /* inline-size: 50%; */

}

.detail{
    /* padding-top: 4%; */
    border-radius: 15%;
    text-align: center;
    border-color: purple;
}
    

/* Popup container - can be anything you want */
#popup {
    position: absolute;
    background-color:purple;
    cursor: pointer;
    margin-top:5% ;
    left: 50%;
    display: none;
  }
  
  /* The actual popup */
  #popup .popuptext {
    width: 50px;
    width: 160px;
    background-color:purple;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: -1;
    bottom: 125%;
    left: 0%;
    margin-left: -80px;
    
  }

/* style the Englsh Arabic עברית on the edit woman form */
.highlight{     
    font-weight:bold;
    /* background: rgba(213, 30, 250, 0.603); */
    font-size: 21px;
   }

   #line{
    position: absolute;
    padding-right: 10%;
    color: purple;
    font-size: larger;
       /* padding-right: 10%; */
   }

   #line2{
    font-weight:bold;
    font-size: larger;
    /* padding-top: 3%; */
    /* margin-right: 55%; */
    /* padding-left: 11.5%; */
    font-size: xx-large;
    /* padding-left: 40%; */
    color: purple;
    /* font-size: xx-large; */

    /* padding-right: 10%; */
}

#line3{

    font-weight:bold;
    font-size: xx-large;
    /* margin-left: 10%; */
    /* padding-top: 5%; */
    /* margin-top: 2%; */
    border-color: purple;
    /* padding-left: 33%; */
    color: purple;
    /* padding-right: 30%; */
}

.bdayclass{
    /* position: absolute; */
    /* padding-left: 0%; */
    /* padding-right: 39%; */
    font-size: x-large;
    margin-left: 30%;
    /* padding-right: 10%; */
    /* width: 73.5%; */
    /* padding-right: 10%; */
}


#lineName{

  font-weight:bold;
  /* padding-left: 48%;  */
  /* padding-top: 4%;  */
  font-size: xx-large;
  color: purple;
  /* margin-left: 40%; */
}

.detailsNew{
    text-align: center;
    border-color: purple;

}

.boxDetail{

    padding-left: 46%;
    padding-right: 5%;
    text-align: right;
    border-radius: 10%;
    border-color: rebeccapurple;
    width: 100%;
    display: flex;
    flex-flow: column;
}



#myAdd1{
    position: absolute;
    margin-top: 0%;
    width: 10%;
    left: 45%;
}

.detailsName{

    /* padding-left: 0%; */
    /* margin-right: 40%; */
    /* width: 33%; */
    margin-top: 8%;
    margin-left: 12%;
    border-color: purple;

}



#step2{

display: none;

}

#feedLineName{

  /* margin-right: 28%; */
  font-weight:bold;
  /* padding-left: 48%;  */
  /* padding-top: 4%;  */
  padding-left: 57%;
  font-size: xx-large;
  color: purple;

}

#feedLineName2{


 /* margin-right: 28%; */
 font-weight:bold;
 /* padding-left: 48%;  */
 /* padding-top: 4%;  */
 padding-left: 43%;
 font-size: xx-large;
 color: purple;


}


#howWasVisit{

    font-size: xx-large;
    /* font-weight:bold; */


}

.displayBox{

/* padding-top: %; */
padding-left: 0%;
/* position: 0%; */
/* width: 25%; */
/* width: 100%; */
margin-left: 29%;
border-color: purple;

}

.descAndLink{

 /* padding-top: %; */
 /* padding-left: 0%; */
 /* position: 0%; */
 /* width: 25%; */
 width: 110%;
 padding-left: 40%;
 margin-left: 10%;
 border-color: purple;

}




.regularLabel{

font-size: x-large;
color: purple;
font-weight:bold;

}

#submit1{

align-self: center;

}

#howWas{

    text-align: center;
    font-size: x-large;
    font-weight:bold;

}

#addBtn{

width: 8%;
align-self: center;
/* justify-self: center; */
/* place-self: center; */
}

.requiredFooter{

    text-align: right;
    font-size: normal;
    font-weight:bold;
}