.photoPrev{
    height: 100%;
    max-width: 30%;
}
.photoPrevContainer{
    height: 20vh;
    width: 100%;
    display: inline-flex;
    position: relative;
}
.presentImages{
    display: inline-flex;
    overflow-x: auto;
    overflow-y: none;
}
.SingleRenderBox{
    width: 50%;
    /* margin: auto; */
    display: inline-flex;
}
.deleteImage{
    float: right;
    position: relative;
    left: 0px;
    top: 0px;
    height: 30px;
border-radius: 50%;
}
