* {
    box-sizing: border-box;
  }
  
  :root {
  --dark: rgb(186, 85, 211);
  }

#adminTitle {
    justify-self: center;
    text-align: center;
    color: purple;
    font-style: normal;
  margin-top: 0%;
  max-width: 100%;
    margin: auto;
    font-size: 65px;
  }
  
#allAdmin {
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-content: space-around;
margin: auto;
width: 80%;
}

  .btnhover {
    display: block;
    cursor: pointer;
    border: none;
    background-color: purple;
    width: 350px;
    height: 100px;
    border-radius: 30px;
    font-size: 1.8rem;
    font-weight: 600;
    color: white;
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--dark) inset;
    margin: 10px;
    outline: none;
  }
  
  .btnhover:hover {
    outline: none;
    background-image: linear-gradient(
      169.268deg,
      transparent 10%,
      var(--dark) 10% 20%,
      transparent 20% 30%,
      var(--dark) 30% 40%,
      transparent 40% 50%,
      var(--dark) 50% 60%,
      transparent 60% 70%,
      var(--dark) 70% 80%,
      transparent 80% 90%,
      var(--dark) 90% 100%
    );
    animation: background 2s linear infinite;
  }

  button:focus {
    outline: none;
  }
  
  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

.backBtn {
    padding-left: 3%;
    padding-top: 1%;
    float: left;
  }

#buttonsTable {
  display: flex;
  justify-content: center;
  margin-right: 90%;
}

#backBtn {
  font-size: x-large;
  margin: 5px;
  margin-bottom: 8px;
}

#addUserBtn {
  margin: 5px;
  margin-bottom: 8px;
  }

.deleteBtn {
  height: 60px;
  border-radius: 12%;
  width: 100px;
  border-width: 0px;
}

.deleteBtnTd {
  position: relative;
  text-align-last: center;
}

.textAlign {
  text-align: center;
}

.index{
  display: contents;
}