#mainUPWrapper{
    text-align: center;
}
#languages{
    display: inline;
}
#navbar{
    float: left;
    
    /* position: absolute;
    right: 0%;
    top: 0%; */
}
 #smallLogo{
    display: inline;
   
}
