


#main{
    position: fixed;
    top:10%;
    height: 24%;
    border: black;
    /* z-index: 20; */
    overflow: auto;
    border-style: groove;
    text-align: center;
}
#foot{
    position: fixed;
    bottom:0%;
    height: 10%;

}