#navbar {
    direction: rtl;
}



.navbar-nav {
    width: 100%;
}





#example-search-input4{
    margin: 0;
    /* border-radius: 20px; */
}
#clear-btn,.fa-close{
    margin: 0;
    object-fit: cover;
    height: 100%;
}
#search-bar-outline{
    border: 2vh;
    border: black;
    
}
#search-btn{
    display: flex;
    align-items: center;
    width: 100%;
    
    /* border-radius: 50%; */
}
#clear-btn{
    background-color: white;
    height: 100%;
}

#search-bar-outline{
    align-items:stretch ;
}
.strecher{
    width: 100%;
   
}

#logo{
    height: 70px;
}

#search-form{
    width: 100%;
}

