/* #languages{
    display: inline;
} */

#navbar{
    
    position: fixed;
    height:10%;
    width: 100%;
    border: yellow;
    border-style: solid;
    
}
#smallLogo{
    position: relative;
    width: 22vh;
    float: right;
}
    
    