#languages{
    display: inline;
}
    #smallLogo{

        /* box-sizing: content-box;   */
        /* height: fit-content; */
        display: inline;
    
}
#navbar{
    position: absolute;
    height:7%;
    width: 100%;
    border-color: black;
    border-style: groove;
    
}
    
    