.dropdown {
    /* display: inline-block; */
    cursor: pointer;
}

.dropdown__content {
    display: none;
    position: absolute;
    cursor: pointer;
}

.dropdown--active  .dropdown__content {
    display: block;
    margin-top: 7%;
    cursor: pointer;
    z-index: 5;
  /* overflow: auto; */
}
#globus{  

    height: 6vh;
    width: 6vh;
}

#languages
{
    
    cursor: pointer;
    float: right;
}



ul
{
    list-style-type: none;
}
.langButtons{
    width: 12vh;
    text-align: center;
    padding: 0px;

}
