code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

 
 body {
  margin: 0;
}
.modal-header{
  background-color: rgb(165, 4, 165);
  color: white;

}

#root{
  direction: rtl;
}
.btn{
  background-color: rgb(165, 4, 165);
  color: white;
  /* padding: 2px; */
  /* margin: 2px; */
  font-weight: bold;
  margin-left: 3px;
  width: 100px;
  height: 60px;
  border-radius: 7%;
}